<div class="container-lg mt-md-5">
    <div class="body" >
        <br>
        <div class="text-center">
            <div class="form-signin">
                <div class="box">
                    <div class="pt-2">
                        <img src="assets/img/Alumno.png">
                        <div class="col">
                            <a routerLink="/alumno" >ALUMNO</a>
                        </div>
                    </div>
                    <div class="pt-2">
                        <img src="assets/img/Jefe.png">
                        <div class="col"> 
                            <a routerLink="/jefedepa">JEFE DE DEPARTAMENTO</a>
                        </div>
                    </div>
                    <br>
                  </div>
            </div>
        </div>
    </div>
</div>


